#footer= '© '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Tech
  a(rel='nofollow', target='_blank', href='https://hexo.io')
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')
  |  
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')
