
.gallery-container {
  position:absolute;
  z-index:999;
  width:100%;
  height:100%;
  left:0;
}

.photo-gallery {
  position:absolute;
  height:100%;
}

.photo-gallery ul {
  padding:0;
}

.photo-gallery .control li {
  display:none;
  list-style:none;
  width:100%;
  text-align:center;
  padding:0;
  padding-right: 8px;
  color:#FFF;
  font-size:28px;
  font-weight:700;
  line-height:54px;
  text-transform:uppercase;
  position:absolute;
  cursor:-webkit-grab;
  cursor:-moz-grab;
}

.photo-gallery .control li:active {
  cursor:-webkit-grabbing;
  cursor:-moz-grabbing;
}

.photo-gallery li.expand {
  display:block;
  padding-right:28px;
  
}

.expand-toggle li.expand .vector-icons{
  margin-top: 12px;
  transform:rotate(180deg);
}

.expand-toggle li .vector-icons {
  position:absolute;
  font-size:24px;
  margin-top:9px;
  margin-left:8px;
}

.expand-toggle li .vector-icons.expand {
  
}

.photo-gallery .control{
  position:absolute;
  width:100%;
  height:52px;
  bottom:0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.photo-gallery .control .vector-icons {
  font-size:28px;
}

.photo-gallery .control .slide-up {
  cursor: pointer;
}

.photo-control {
  width: 100%;
}

.photo-control li {
  display: inline-block;
  position: absolute;
  top: 40%;
  margin-left: 64px;
  z-index:1999;
}

.photo-control li i {
  display: inline-block;
  width: 81px;
  height: 80px;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  background: url(/public/img/bkg/s-prev.png);
}

.photo-control li i:hover{
  opacity: 1;
}

.photo-control li.vegas-next {
  right: 0;
  margin-left: 0;
  margin-right: 64px;
}

.photo-control li.vegas-next i {
  background: url(/public/img/bkg/s-next.png);
}

.photo-desc {
  position: absolute;
  width: 428px;
  height:248px;
  right:0;
  bottom:0;
  margin-bottom:68px;
  margin-right:48px;
}

.photo-desc h1{
  font-size: 42px;
  color: #FFF;
  text-transform: uppercase;
}

.photo-desc li{
  display: none;
  position:absolute;
  color: #FFF;
  list-style:none;
  text-shadow:0 0 3px #6d99ab;
}

.photo-desc li:first-child{
  display: block;
}

/******************
    Vector Icons
 ******************/

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1448512237_7208512.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1448512237_7208512.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1448512237_7208512.woff') format('woff'), /* chrome¡¢firefox */
  url('//at.alicdn.com/t/font_1448512237_7208512.ttf') format('truetype'), /* chrome¡¢firefox¡¢opera¡¢Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1448512237_7208512.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.vector-icons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: iconfont;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.vector-icons.arrow-up::before {
  content: "¤Z";
}